.order {
    padding: 0 var(--big-padding) var(--medium-padding) var(--big-padding);
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);

    .order-item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: var(--big-gap);
        align-items: center;

        .product-img {
            width: auto;
            max-height: 2.5rem;
        }

        .container {
            display: flex;
            gap: var(--small-gap);
            flex-grow: 1;
            flex-wrap: wrap;
        }

        .name {
            font-weight: bold;
        }

        .count {
            color: var(--primary-color);
            font-weight: bold;
        }

        .price {
            flex-wrap: wrap;
        }
    }
}