.product-catalog {
    padding: var(--big-padding);
    width: 100%;
    max-width: var(--max-width-content);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--big-gap);
    margin: 0 auto;
}