.product-control {
    width: 100%;
}

.product-control>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.product-control.catalog-product-control>div {
    width: 100%;
}

.product-control .btns-box {
    display: flex;
    gap: var(--small-gap);
}

.product-control.catalog-product-control .btns-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-control.catalog-product-control .product-counter {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--tg-theme-button-text-color);
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
}