.order-form {
    display: flex;
    flex-direction: column;
    padding: var(--big-padding) 0;
    gap: var(--big-gap);

    .text-field {
        width: 100%;
        overflow: hidden;
        padding: var(--medium-padding) var(--big-padding);
        background-color: var(--tg-theme-bg-color);
        border-bottom: 1px solid var(--tg-theme-section-separator-color);
        font-size: 1rem;
        display: flex;
        align-items: center;

        &::placeholder {
            color: var(--tg-theme-hint-color);
            font-size: 1rem;
        }

        &:focus {
            outline: none;
        }
    }

    .delivery,
    .readyDate,
    .readyTime {
        padding: 0 var(--big-padding);
        display: flex;
        flex-direction: column;
        gap: var(--medium-gap);

        .header {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .delivery {
        label {
            display: flex;
            gap: var(--medium-gap);
            align-items: center;
        }

        input[type="radio"] {
            display: none;
        }

        .custom-radio {
            width: 1.25rem;
            height: 1.25rem;
            border: 1px solid var(--tg-theme-section-separator-color);
            border-radius: 50%;
            position: relative;
            background-color: var(--tg-theme-bg-color);
        }
          
        input[type="radio"]:checked + .custom-radio::after {
            content: '';
            width: 0.625rem;
            height: 0.625rem;
            background-color: var(--accent-color);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .delivery-info {
            font-size: 0.875rem;
        }
    }

    .readyDate,
    .readyTime {
        padding: 0;

        .header {
            padding: 0 var(--big-padding);
        }

        .wrapper {
            display: flex;
            gap: var(--medium-gap);
            align-items: center;
        }
    }

    /* react-datepicker */
    .react-datepicker__input-container {
        width: 100%;

        input {
            width: 100%;
            padding: var(--medium-padding) var(--big-padding);
            font-size: 1rem;
            border-bottom: 1px solid var(--tg-theme-section-separator-color);

            &::placeholder {
                color: var(--tg-theme-hint-color);
                font-size: 1rem;
            }
        }
    }

    .react-datepicker-popper {
        .react-datepicker {
            border-radius: var(--border-radius);
        }

        .react-datepicker__header {
            background-color: var(--tg-theme-secondary-bg-color);
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .react-datepicker__current-month {
            text-transform: uppercase;
        }
    }

    /* Selected Control */
    .css-13cymwt-control,
    .css-t3ipsp-control {
        border-radius: 0;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid var(--tg-theme-section-separator-color);

        &:hover {
            border: none;
        }

        .css-hlgwow {
            padding: var(--medium-padding) var(--big-padding);

            .css-1jqq78o-placeholder {
                color: var(--tg-theme-hint-color);
                font-size: 1rem;
                margin: 0;
            }

            .css-19bb58m {
                margin: 0;
                padding: 0;
            }
        }
    }

    .css-1nmdiq5-menu {
        border-radius: 0;
        box-shadow: none;

        [role="option"] {
            padding: var(--small-padding) var(--big-padding);
        }
    }

    /* react-datepicker + Selected Control */
    [role="option"] {
        &:not([aria-disabled="true"]) {
            &:hover {
                background-color: var(--accent-color-translucent);
            }

            &[aria-selected="true"],
            &:active {
                background-color: var(--accent-color);
            }
        }

        &[aria-disabled="true"],
        &.css-d7l1ni-option {
            background-color: var(--tg-theme-bg-color);
        }
    }
}

