.product.item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 0.5rem;
    justify-content: space-between;
    position: relative;
}

.product.item .product-img {
    width: 100%;
    transition: scale 0.15s ease;

    &:active {
        scale: 0.9;
    }
}

.product.item .name {
    width: 100%;
    text-align: center;
}

.product.item .price {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.product.item .btns-box {
    width: 100%;
    display: flex;
    gap: var(--medium-gap);
    justify-content: center;
}