.button {
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: var(--tg-theme-button-text-color);
    text-transform: uppercase;
    padding: 0.5rem;

    &.add-btn {
        width: 100%;
        background-color: var(--primary-color);
        padding: 0.5rem 0.25rem;
    }

    &.decr-btn {
        width: 50%;
        max-width: 2.5rem;
        background-color: var(--tg-theme-destructive-text-color);
    }

    &.incr-btn {
        width: 50%;
        max-width: 2.5rem;
        background-color: var(--primary-color);
    }
}