.fade-in {
    animation: fadeIn 0.15s ease;
}

.fade-out {
    animation: fadeOut 0.15s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.readyDate {
    /* padding: 0 var(--big-padding); */
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);

    .header {
        padding: 0 var(--big-padding);
        text-transform: uppercase;
        font-weight: bold;
        cursor: auto;
    }

    .wrapper {
        display: flex;
        gap: var(--medium-gap);
        align-items: center;
    }
}

/* react-datepicker */

.react-datepicker {
    font-size: 1rem !important;
    border: 1px solid var(--tg-theme-section-separator-color) !important;
    border-radius: var(--border-radius) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    background-color: var(--tg-theme-bg-color) !important;
}

.react-datepicker-popper {
    z-index: 1000 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.react-datepicker__input-container {
    width: 100%;

    input {
        width: 100%;
        padding: var(--medium-padding) var(--big-padding);
        font-size: 1rem;
        border-bottom: 1px solid var(--tg-theme-section-separator-color);
        background-color: var(--tg-theme-bg-color);
        color: var(--tg-theme-text-color);

        &::placeholder {
            color: var(--tg-theme-hint-color);
            font-size: 1rem;
            font-family: 'Arial', sans-serif;
        }
    }
}

.react-datepicker__day {
    width: 2.25rem !important;
    height: 2.25rem;
    line-height: 2.25 !important;
    color: var(--tg-theme-text-color);

    &:not([aria-disabled=true]) {
        color: var(--tg-theme-text-color) !important;
        font-weight: bold;
    }
    
    &:not([aria-disabled=true]):not(.react-datepicker__day--selected):hover {
        background-color: var(--primary-color-translucent)!important;
        border-radius: 50% !important;
    }

    &[aria-disabled=true] {
        color: var(--tg-theme-subtitle-text-color) !important;
    }

    &.react-datepicker__day--keyboard-selected {
        background-color: rgba(255, 255, 255, 0);
    }

    &.react-datepicker__day--selected,
    &.react-datepicker__day--selected:not([aria-disabled=true]):hover {
        background-color: var(--primary-color);
        border-radius: 50%;
        color: white !important;
    }
}

.react-datepicker__day-name {
    width: 2.25rem !important;
    color: var(--tg-theme-hint-color) !important;
    font-weight: bold;
}

.react-datepicker__header {
    background-color: var(--tg-theme-bg-color) !important;
    border-bottom: none !important;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    .react-datepicker__current-month {
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        color: var(--tg-theme-text-color) !important;
    }
}

.react-datepicker__navigation {
    top: 0.75rem !important;

    &.react-datepicker__navigation--next {
        right: 0.625rem;
    }

    &.react-datepicker__navigation--previous {
        left: 0.625rem;
    }
}

svg.react-datepicker__triangle {
    display: none;
}

.datepicker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
}

