/* ---------------- Reset styles ---------------- */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

nav, footer, header, section, main {
    display: block;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

/* ---------------- General styles ---------------- */

@font-face {
    font-family: 'Montserrat-regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Montserrat_Alternates/MontserratAlternates-Regular.woff2');
}

@font-face {
    font-family: 'Montserrat-medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Montserrat_Alternates/MontserratAlternates-Medium.woff2');
}

@font-face {
    font-family: 'Montserrat-semibold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.woff2');
}

body {
    min-height: 100vh;
    color: var(--tg-theme-text-color);
    font-size: 16px;
    font-family: 'Montserrat-regular', sans-serif;
    line-height: 1.2;
    background: linear-gradient(var(--tg-theme-bg-color), var(--tg-theme-secondary-bg-color));
}

/* ---------------- Variables ---------------- */
:root {
  /* Colors: */
    --primary-color: #4C7D6C;
    --accent-color: #6A244D;
    --primary-color-translucent: rgba(76, 125, 108, 0.4);
    --accent-color-translucent: rgba(106, 36, 77, 0.4);

  /* Sizes: */
    --big-padding: 1.5rem;
    --medium-padding: 0.75rem;
    --small-padding: 0.5rem;
    --big-gap: 1.5rem;
    --medium-gap: 0.75rem;
    --small-gap: 0.5rem;
    --extra-small-gap: 0.25rem;

    --border-radius: 1.25rem;
    --max-width-content: 34rem;
}